.topNav {
    border-top: 5px solid #3498DB;
  }

.topNav .container {
    border-bottom: 1px solid #E6EAEE;
}

.logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
    width: 100%;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}