.header {

    background-color: #222;
    color: white;
    grid-area: header;
    height: 170px;
    padding: 20px;
    text-align: center;
}

.header-title {
    font-size: 1em;
}

.header-logo {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
}

.logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
    width: 100%;
}

@keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}