* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  
}

.header {
  background-color: #222;
  color: white;
  grid-column-end: 3;
  grid-column-start: 1;
  height: 170px;
  padding: 20px;
  text-align: center;
}

.header-title {
  font-size: 1em;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

aside {
  background-color: #eee;
}

main {
  background: lightblue;
}

.footer {
  background: oldlace;
  grid-column-end: 3;
  grid-column-start: 1;
  height: 170px;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}