* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  
}